@import url(nreset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.label {
  background-color: #313131;
  width: 60%;
}

.input {
  background-color: #313131;
  border: 0.2em solid #313131;
  color: white;
  display: block;
  text-align: center;
  width: 100%;
}

.input:focus {
  border: 0.2em solid #1c87c9;
  outline: none;
}

.input--search {
  text-indent: 4em;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.btn {
  background-color: #1c87c9;
  border: none;
  color: white;
  display: block;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn--add {
  height: 2em;
  width: 4em;
}

.btn--book {
  background-color: transparent;
  background-image: url(../images/down.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2em;
  margin-top: 1em;
  padding: 1em;
  width: 2em;
}

.btn--book--active {
  background-image: url(../images/up.png);
}

.btn--cancel {
  background-color: gray;
  height: 2em;
  width: 4em;
}

.btn--delete {
  background-color: #db2b39;
  padding: 0.5em !important;
}

.btn--form {
  background-image: url(../images/add.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5em;
  width: 15%;
}

.btn--read {
  background-color: transparent;
  background-image: url(../images/nRead.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.2em;
  height: 2em;
  padding: 1em;
  width: 2em;
}

.btn--read--active {
  background-image: url(../images/read.png);
}

.btn--search {
  background-image: url(../images/search.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5em;
  width: 4em;
}

.library {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: auto;
  width: 100vw;
}

.library__bookcase {
  background-color: #b99566;
  box-shadow: inset 0 0 15rem 1.5rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

.bookcase__header {
  background-color: transparent;
  display: flex;
  height: 5%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.bookcase__grid {
  display: grid;
  grid-template: repeat(10, 100%) / repeat(auto-fit, 25em);
  gap: 2em;
  height: 100%;
  justify-content: center;
  margin: 6em 0;
  overflow-y: auto;
  padding: 0 6em;
  scrollbar-width: none;
  width: 100%;
}

.bookcase__grid::-webkit-scrollbar {
  display: none;
}

.bookcase__book {
  align-items: center;
  background-color: #313131;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.book__title {
  margin: 0.5em;
}

.book__author {
  margin: 0.5em;
}

.book__description {
  padding: 0 2em;
}

.bookcase__miscellaneous {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: auto;
  scrollbar-width: none;
  text-align: center;
  width: 100%;
}

.bookcase__miscellaneous div {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 1.5em;
  padding: 1.95em;
}

.bookcase__miscellaneous::-webkit-scrollbar {
  display: none;
}

.bookcase__genre {
  background-image: url(../images/genre.png);
  width: 100%;
}

.bookcase__language {
  background-image: url(../images/language.png);
  width: 100%;
}

.bookcase__publisher {
  background-image: url(../images/publisher.png);
  width: 100%;
}

.bookcase__date {
  background-image: url(../images/date.png);
  width: 100%;
}

.bookcase__ten {
  background-image: url(../images/bar.png);
  width: 100%;
}

.bookcase__thirteen {
  background-image: url(../images/bar.png);
  width: 100%;
}

.bookcase__pages {
  background-image: url(../images/pages.png);
  width: 100%;
}

.bookcase__footer {
  background-color: #313131;
  bottom: 0;
  display: flex;
  height: 5%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.bookcase__form {
  align-items: center;
  background-color: #313131;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 25em;
}

.bookcase__form--fade {
  animation: fade-out 0.5s;
}

.bookcase__form--active {
  align-items: center;
  animation: fade-in 0.5s;
  background-color: #313131;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-between;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  visibility: visible;
  width: 25em;
  z-index: 1;
}

.bookcase__form input {
  background-color: white;
  color: black;
}

.form__buttons {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.form__title {
  font-size: 1.1rem;
  margin: 0 0 auto;
  padding: 1em;
}

.form__tags {
  color: white;
  font-size: 1.1rem;
  margin: auto 0 0;
  padding: 1em;
  text-decoration: none;
}

.tags__github {
  height: auto;
  width: 3em;
}

.tags__gitlogo {
  height: auto;
  margin-right: 0.1em;
  width: 1.5em;
}

@media screen and (max-height: 768px) {
  .bookcase__grid {
    margin: 3em 0;
  }
}

@media screen and (max-height: 749px) {
  .bookcase__form {
    overflow-y: auto;
  }
}

@media screen and (max-height: 600px) {
  .book__description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .bookcase__form {
    overflow-y: auto;
  }
}

@media screen and (max-height: 400px) {
  .book__title {
    margin: 0;
  }

  .book__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .bookcase__form {
    overflow-y: auto;
  }
}

@media screen and (max-height: 325px) {
  .book__author {
    margin: 0;
  }

  .book__description {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .bookcase__grid {
    margin: 3em 0;
  }
}

@media screen and (max-width: 498px) {
  .bookcase__grid {
    grid-template: repeat(10, 100%) / repeat(auto-fit, 100%);
    padding: 0;
  }

  .bookcase__form {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .book__description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  .bookcase__form {
    overflow: scroll;
  }
}
