@import url(nreset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #b99566;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container__left {
  height: 100%;
  width: 8%;
  background-color: #b99566;
}

.container__middle {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 84%;
  background-color: #b99566;
}

.container__middle__top {
  height: 5%;
}

.container__middle__top__temp {
  height: 100%;
  width: 35em;
  background-color: #c4c4c4;
  margin: auto;
}

.container__middle__bookcase {
  display: grid;
  grid-template: repeat(20, 10em) / repeat(auto-fit, 10em);
  gap: 2em;
  justify-content: center;
  height: 90%;
  width: 100%;
  padding: 6em;
  box-shadow: inset 0 0 15rem 1.5rem rgba(0, 0, 0, 0.25);
  /* border-radius: 0.75rem; */
  overflow-y: auto;
  scrollbar-width: none;
}
.container__middle__bookcase::-webkit-scrollbar {
  display: none;
}

.container__middle__bookcase__book {
  background-color: white;
}

.container__middle__bot {
  height: 5%;
}

.container__middle__bot__temp {
  height: 100%;
  width: 35em;
  background-color: #c4c4c4;
  margin: auto;
}

.container__right {
  height: 100%;
  width: 8%;
  background-color: #b99566;
}
