@import url(nreset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.library {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: auto;
  position: relative;
  width: 100vw;
}

.library__bookcase {
  background-color: #b99566;
  box-shadow: inset 0 0 15rem 1.5rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 75%;
}

.bookcase__header {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 5%;
}

.bookcase__grid {
  display: grid;
  grid-template: repeat(10, 30em) / repeat(auto-fit, 20em);
  gap: 2em;
  height: 90%;
  justify-content: center;
  margin: 6em 0;
  overflow-y: auto;
  padding: 0 6em;
  scrollbar-width: none;
  width: 100%;
}

.bookcase__grid::-webkit-scrollbar {
  display: none;
}

.bookcase__book {
  background-color: white;
}

.bookcase__footer {
  background-color: white;
  height: 5%;
}

.input {
  color: white;
  display: block;
  background-color: #101010;
  border: 0.2em solid #313131;
  height: 100%;
  width: 35em;
}

.input:focus {
  border: 0.2em solid #1c87c9;
  outline: none;
}

.btn {
  display: block;
  background-color: #c4c4c4;
  border: none;
  height: 100%;
  margin: auto;
  width: 20em;
}

.btn:hover {
  cursor: pointer;
}

.btn--search {
  background-color: #313131;
  margin: 0;
  width: 4em;
}
